body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  letter-spacing: 0.2em;
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.container {
  max-width: 400px;
  background: #ffffff; 
  padding: 20px;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 50px;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.card {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the card */
  border-radius: 15px; 
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 0.5em; 
}

input[type="text"] {
  border: 2px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  font-size: 1em; 
}



label {
  font-weight: bold; 
}
